.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: medium;
  padding-left: 25%;
  padding-right: 25%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.center {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}

.lineChart {
  margin: auto;
  flex-direction: horizontal;
}

.legend {
  margin-top: -60%;
  margin-left: 80%;
}
.Bubblechart {
  margin: auto;
}

.Linechart {
  display: flex;
}

.Sankey {
  font-color: 'red';
}

.rv-hint {
  background: black;
  color: white;
  font-size: 10px;
  padding: 10px;
  border-radius: 3px;
  width: 110px;
}

.rv-hint--orientation-topleft {
  transform: translate(-7px,-7px);
}


.rv-hint--orientation-topright {
  transform: translate(7px,-7px);
}


.rv-hint--orientation-bottomleft {
  transform: translate(-7px,7px);
}

.rv-hint--orientation-bottomright {
  transform: translate(7px,7px);
}
